# Server Configuration
NODE_ENV=development
PORT=3000
CORS_ORIGIN=http://localhost:3000

# Database
DATABASE_URL=postgresql://username:password@localhost:5432/database_name
DB_POOL_MIN=2
DB_POOL_MAX=10

# Firebase Authentication
FIREBASE_PROJECT_ID=your-project-id
FIREBASE_CLIENT_EMAIL=your-service-account@your-project-id.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYour private key here\n-----END PRIVATE KEY-----\n"


# Security
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX_REQUESTS=100

# Slack Logging
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/YOUR/WEBHOOK/URL



# Cloudinary
CLOUDINARY_CLOUD_NAME=demo-events-app
CLOUDINARY_API_KEY=176495915263754
CLOUDINARY_API_SECRET=U7PvYBiB0WzgczAiOKMfuFHkk-g


# PAYSTACK INTEGRATION
PAYSTACK_SECRET_KEY
PAYSTACK_PUBLIC_KEY
PAYSTACK_API_UR



# Email Keys
EMAIL_FROM
RESEND_API_KEY

# QUEUE
REDIS_HOST=your-instance.upstash.io
REDIS_PORT=36xxx
REDIS_PASSWORD=your_password
UPSTASH_REDIS_REST_URL=https://your-instance.upstash.io
UPSTASH_REDIS_REST_TOKEN=your_token
